.nav {
    grid-area: n;
    background-color: gainsboro;
    padding: 20px;
  }


.item a {
  color: gray;
    text-decoration: none;
}
.item a.active {
    color: gold;
}

/*
a:hover {
  color: crimson;
  background: greenyellow;
}
*/