.nav {
    grid-area: n;
    background-color: cyan;
    padding: 20px;
  }

.item a {
  color: white;
    text-decoration: none;
}
.item a.active {
    color: gold;
}

/*
a:hover {
  color: crimson;
  background: greenyellow;
}
*/