.grid {
    display: grid;
    grid-template-columns: 3fr 10fr;
    grid-auto-rows: auto;
    grid-gap: .5em;
    background-color: gainsboro;

}

.dialogs {

}

.dialogsItem .dialog {
    padding: 7px;
}

.dialog a.active {
    color: red;
}

.massages {

}

.massages .massage {
    padding: 7px;
}